.reviews-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.reviews-section .title {
  width: 100%;
  text-align: center;
}

.reviews-section .reviews-swiper {
  width: 100%;
}

.reviews-swiper .swiper-button-prev::after,
.reviews-swiper .swiper-button-next::after {
  display: none;
}

.reviews-swiper button#swiper-button-prev,
.reviews-swiper button#swiper-button-next {
  margin-top: 0;
}

.reviews-swiper button#swiper-button-prev svg,
.reviews-swiper button#swiper-button-next svg {
  width: 48px;
  height: 48px;
}

.reviews-swiper .swiper-button-prev,
.reviews-swiper .swiper-button-next {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
}

.reviews-section .reviews-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 228px;
  padding: 32px;
  border: 1px solid color-mix(in srgb, var(--black), transparent 85%);
  border-radius: 16px;
  box-sizing: border-box;
}

.reviews-section .text {
  font-size: 16px;
  line-height: 1.6;
}

.reviews-section .author {
  font-weight: 600;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.reviews-section .reviews-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  width: 100%;
  margin-top: 32px;
}

.reviews-section .arrow {
  background-color: transparent;
  padding: 12px;
  fill: var(--black);
}

@media (min-width: 768px) {
  .reviews-swiper {
    overflow: hidden;
  }
}
